@model babyShield.Models.Admin
@{
    ViewData["Title"] = "index";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">Baby Shield</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">


                    <li><a class="dropdown-item" href="~/Home/Index">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="index" >
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>



                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Clinic">Clinic</a>




                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Admin
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Dashboard</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>


                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Add Clinic
                        </div>
                        <div class="card-body">
                            <form id="managerForm">
                                <div class="row">
                                    <div class="col-xl-3 col-md-6">
                                        <label for="">Maneger name</label>
                                        <input type="text" class="form-control " id="managerName" name="managerName">

                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <label for="">Maneger Natonal Number</label>
                                        <input type="text" class="form-control " maxlength="10" id="managerNationalNumber" name="managerNationalNumber">

                                    </div>
                                   
                                    <div class="col-xl-3 col-md-6">

                                        <input type="submit" class="btn btn-primary" value="Add Manager">

                                    </div>
                                </div>
                                <hr>
                            </form>
                            <form id="receptionForm">
                                <div class="row">
                                    <div class="col-xl-3 col-md-6">
                                        <label for="">Reception name</label>
                                        <input type="text" class="form-control " id="receptionName" name="receptionName">

                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <label for="">Reception Natonal Number</label>
                                        <input type="text" maxlength="10" class="form-control " id="receptionNationalNumber" name="receptionNationalNumber">

                                    </div>
                                   
                                    <div class="col-xl-3 col-md-6">

                                        <input type="submit" class="btn btn-primary" value="Add Reception">

                                    </div>
                                </div>

                            </form>
                            <hr>
                            <form id="clinicForm">
                                <div class="row">
                                    <div class="col-xl-3 col-md-6">
                                        <label for="">Clinic  name</label>
                                        <input type="text" class="form-control " id="clinicName" name="clinicName">

                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <label for="">Reception Name</label>
                                        <select class="form-control" id="receptionDropdown" name="clinicReceptionId"></select>

                                    </div>
                                    <div class="col-xl-3 col-md-6">
                                        <label for="">Maneger Name</label>
                                        <select class="form-control" id="managerDropdown" name="clinicManagerId"></select>


                                    </div>
                                    <input type="hidden" name="hiddenManagerId" id="hiddenManagerId" />
                                    <input type="hidden" name="hiddenReceptionId" id="hiddenReceptionId" />
                                    <div class="col-xl-3 col-md-6">

                                        <input type="submit" class="btn btn-primary" value="Add Clinic">

                                    </div>

                                </div>

                            </form>
                        </div>



                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Baby shield 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/scripts.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
 
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/datatables-simple-demo.js"></script>
</body>
</html>
@section scripts
    {
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();

            // Manager form submission
            $("#managerForm").submit(function (event) {
                event.preventDefault();
                var managerName = $("#managerName").val();
                var nationalId = parseInt($("#managerNationalNumber").val());

                // Update the clinic manager name
                $("#managerName").val(managerName);
               
                // Perform the AJAX request to save the manager
                $.ajax({
                    url: "/Api/Admin/CreateManager",
                    method: "POST",
                    contentType: "application/json",
                        data: JSON.stringify({
                        managerName,
                        nationalId
                    }),
                    success: function (response) {
                        // Handle success response
                        console.log(response);
                        // Parse the response to extract the manager ID
                      location.reload();

                        // Set the value of the hidden field
                        $("#hiddenManagerId").val(managerId);
                    }
                });
            });

            // Reception form submission
            $("#receptionForm").submit(function (event) {
                event.preventDefault();
                var receptionName = $("#receptionName").val();
                var nationalId = parseInt($("#receptionNationalNumber").val());

                // Update the clinic reception name
                $("#clinicReceptionName").val(receptionName);

                // Perform the AJAX request to save the reception
                $.ajax({
                    url: "/Api/Admin/SaveReception",
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        receptionName: receptionName,
                        nationalId: nationalId
                    }),
                    success: function (response) {
                        // Handle success response
                        console.log(response);
                        location.reload();

                        // Set the value of the hidden field
                       
                    }
                    
                });
            });
            // Submit form handler
            $("#clinicForm").submit(function (event) {
                event.preventDefault();

                var clinicName = $("#clinicName").val();
                var receptionId = $("#receptionDropdown").val();
                var managerId = $("#managerDropdown").val();
                var isFreaze = false;
                var selectedManager = $("#managerDropdown option:selected");
                var selectedNationalIdM = selectedManager.data("national-id");
                var selectedReception = $("#receptionDropdown option:selected");
                var selectedNationalId = selectedReception.data("national-id");

                // Check if the selected manager and reception contain the required values
               
                    // Perform the AJAX request to save the clinic
                    $.ajax({
                        url: "/Api/Admin/SaveClinic",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({
                            clinicName: clinicName,
                            receptionId: receptionId,
                            managerId: managerId,
                            isFreaze: isFreaze,
                            manager: {
                                Id: managerId,
                            nationalId: selectedNationalIdM,
                                managerName: selectedManager.text()
                            },
                            reception: {
                                Id: receptionId,
                            nationalId: selectedNationalId,
                                receptionName: selectedReception.text()
                            }
                        }),
                        success: function (response) {
                            // Handle success response
                            console.log(response);
                        location.reload();
                        }
                    });
                 
            });
        });
      
        // Load unassigned managers for the dropdown list
                function loadUnassignedManagers() {
            $.ajax({
                url: "/api/Admin/GetUnassignedManagers",  // Corrected URL
                method: "GET",
                success: function (response) {
                    // Populate the dropdown list with unassigned managers
                    var managerDropdown = $("#managerDropdown");
                    managerDropdown.empty();
                    $.each(response, function (index, manager) {
                        managerDropdown.append($('<option></option>').attr("value", manager.id).text(manager.managerName));
                    });
                },
                // ...
            });
        }
        // Call the loadUnassignedManagers function to populate the dropdown list on page load
        loadUnassignedManagers();
        function loadUnassignedReception() {
            $.ajax({
                url: "/api/Admin/GetUnassignedReception",  // Corrected URL
                method: "GET",
                success: function (response) {
                    // Populate the dropdown list with unassigned reception
                    var receptionDropdown = $("#receptionDropdown");
                    receptionDropdown.empty();
                    $.each(response, function (index, reception) {
                        receptionDropdown.append($('<option></option>').attr("value", reception.id).text(reception.receptionName));
                    });
                },
                // ...
            });
        }


        // Call the loadUnassignedManagers function to populate the dropdown list on page load
        loadUnassignedReception();

    </script>
}