@{
    ViewData["Title"] = "Home Page";
}

<header>
    <meta charset="UTF-8">
    <title>BabyShield</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/styleGet.css">
</header>

<div class="toggle">
    <input type="checkbox" id="darkmode-toggle" />
    <label for="darkmode-toggle"></label>
</div>

<div class="main-content">
    <img src="~/patient/image/10.jpg.png" alt="img" />
    <div class="animated-text">
        <p>
            Our clinic is dedicated to providing the best possible care for your little ones. We understand that children have unique health needs and our team of experienced pediatricians is committed to delivering personalized care that meets your child's specific needs.
        </p>

        <p>
            Our clinic offers a wide range of services including routine checkups, vaccinations, sick visits, and much more. We also have a team of highly skilled nurses who work closely with our pediatricians to provide exceptional care for your child.
        </p>

        <p>
            At our clinic, we believe that parents play an important role in their child's health and well-being. That's why we encourage parents to take an active role in their child's care by asking questions, sharing concerns, and participating in the decision-making process.
        </p>

        <p>
            We strive to create a warm and welcoming environment where both parents and children feel comfortable and at ease. Our staff is dedicated to providing exceptional care and making each visit a positive experience for both you and your child.
        </p>
    </div>
    <a href="~/Identity/Account/Register" class="btn btn-outline-primary">Register</a>
    <a href="~/Identity/Account/Login" class="btn btn-outline-primary">Login</a>
</div>

