@model babyShield.ViewModel.VaccineViewModel
@{
    ViewData["Title"] = "Vaccine";
     Layout = "~/Views/Shared/_Doctor.cshtml";
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include DataTables library -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                           
                        </li>


                        <li class="sidebar-item">
                          
                            
                        </li>


                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-6">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 d-flex align-items-center">
                                <li class="breadcrumb-item"><a href="index.html" class="link"><i class="mdi mdi-home-outline fs-4"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Patient </li>
                            </ol>
                        </nav>
                        <h1 class="mb-0 fw-bold">Pattient Info</h1>
                    </div>
                    <div class="col-6">
                       
                    </div>
                </div>
            </div>


        <div class="table-responsive">
            <div class="d-flex align-items-center">
               <div class="m-r-10">
                  <a class="btn btn-circle d-flex btn-info text-white">EA</a>
               </div>
               <div class="">
                <h4 class="m-b-0 font-16">@Model.patient.pateintName</h4>
               </div>
            </div>

        <form id="vaccineForm">
            
            <div class="form-group">
                <label>wieght</label> 
                <input type="number" id="wight" min="0" maxlength="2"/>
                <label>hieght</label>
                <input type="number" id="hieght" min="0" maxlength="2"/>
                <label>circumference</label>
                <input type="number" id="Radios" min="0" maxlength="2"/>
                
                <br/>
                <label for="vaccineDropdown">Vaccine</label>
                <select class="form-control" id="vaccineDropdown" name="vaccineId">
                    <option value="">Choose a vaccine</option>
                    @foreach (var vaccine in Model.vaccines)
                    {
                        <option value="@vaccine.Id">@vaccine.vaccineName</option>
                    }
                </select>
            </div>
            <button type="submit">add vaccine</button>
        </form>

        </div>
       
    </div>

    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    @section scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
           

            // Manager form submission
        $("#vaccineForm").submit(function (event) {
                event.preventDefault();
                var patientId=@Model.patient.Id;
                //var vaccineDate=@DateTime.Now;
                var width = Number($("#wight").val());
                var hight =  Number($("#hieght").val());
                var headRadios = parseInt($("#Radios").val());
                var vaccineId = parseInt($("#vaccineDropdown option:selected").val());
               
              
               
                // Perform the AJAX request to save the vaccine
                $.ajax({
                    url: "/Api/Doctor/CreateVaccine",
                    method: "POST",
                    contentType: "application/json",
                        data: JSON.stringify({
                        patientId: patientId,
                        vaccineId: vaccineId,
                        width: width.toString(),
                        hight: hight.toString(),
                        headRadios: headRadios,
                     
                    }),
                    success: function (response) {
                        // Handle success response
                        console.log(response);
                       location.reload();
                     

                       
                      
                    }
                });
            });
        });
    </script>
    }

